
{% extends 'oh_staff_ui/base.html' %}

{% load django_bootstrap5 %}

{% block content %}

{% for custom_error in custom_errors %}
    <p>{{ custom_error }}</p>
{% endfor %}

<form name="add_item" id="add_item" method="POST">
    {% csrf_token %}
    {% bootstrap_field form.parent layout="horizontal" %}
    {% bootstrap_field form.title layout="horizontal" placeholder="" %}
    {% bootstrap_field form.type layout="horizontal" %}
    {% bootstrap_field form.sequence layout="horizontal" placeholder="" %}
    {% bootstrap_field form.coverage layout="horizontal" placeholder="" %}
    {% bootstrap_field form.relation layout="horizontal" placeholder="" %}
    {% bootstrap_field form.status layout="horizontal" %}
    {% bootstrap_button button_type="submit" content="Add Item" %}
</form>
{% endblock %}