{% load static %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html>

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!-- Custom JS -->
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/validation.js' %}" defer></script>
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
</head>

<body>
    <ul class="navbar">
        <li><a href="/item_search/">Item Search</a></li>
        <li><a href="/add_item/">Add Series</a></li>
        <li><a href="/browse/">Browse Series</a></li>
        <li><a href="/admin/">Admin (Metadata Configuration)</a></li>
        <li><a href="/logs/">Logs</a></li>
        <li><a href="/admin/logout/">Logout</a></li>
    </ul>
    <br>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
</body>

</html>