{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!-- Custom JS -->
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/validation.js' %}" defer></script>
</head>

<body>
    <ul class="navbar">
        <li><a href="/item_search/">Search (by ARK or Title)</a></li>
        <li><a href="/admin/">Admin (Metadata Configuration)</a></li>
        <li><a href="/logs/">Logs</a></li>
        <li><a href="/admin/logout/">Logout</a></li>
    </ul>
    <br>
    {% block content %}
    {% endblock %}
</body>

</html>