{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!-- Custom JS -->
    <script src="{% static 'js/main.js' %}" defer></script>
    <script src="{% static 'js/validation.js' %}" defer></script>
</head>

<body>
    <p>Temporary: <a href="/item_search/">Search</a>&nbsp;<a href="/admin/">Admin</a>&nbsp;<a href="/admin/logout/">Logout</a></p>
    {% block content %}
    {% endblock %}
</body>

</html>