{% extends 'oh_staff_ui/base.html' %}
{% load django_bootstrap5 %}

{% block content %}

{% if messages %}
<div class="box">
{% for message in messages %}
  <div>{{ message }}</div>
{% endfor %}
</div>
{% endif %}

<table class="header-metadata caption-top">
    <caption>Item Information</caption>
    <tr>
        <td>Title</td>
        <td>{{ item.title }}</td>
    </tr>
    <tr>
        <td>ARK</td>
        <td>{{ item.ark }}</td>
    </tr>
    <tr>
        <td>Parent</td>
        <td>{% if item.parent %}
            <a href="{% url 'edit_item' item.parent.id %}">{{ item.parent }}</a>
            {% else %}
            {{ item.parent }}
            {% endif %}</td>
    </tr>
    <tr>
        <td>Created</td>
        <td>{{ item.create_date }} by {{ item.created_by }}</td>
    </tr>
    <tr>
        <td>Updated</td>
        <td>{{ item.last_modified_date }} by {{ item.last_modified_by }}</td>
    </tr>
    <tr>
        <td>Item Actions</td>
        <td>
            {% if item.type.type == "Series" or item.type.type == "Interview" %}
            <a href="{% url 'add_item_from_parent' item.id %}">Add a child item</a>   |   
            {% endif %}
            <a href="{% url 'upload_file' item.id %}">View files</a>
            {% if item.type.type == "Interview" %}
               |   <a href="{% url 'order_files' item.id %}">Configure file order</a>
            {% endif %}
            {% if public_site_url %}
                | <a href="{{public_site_url}}">View on public site</a>
            {% endif %}
            {% if staff_status %}
                | <a href="#" onclick="showItemConfirmDeletePopup()">Delete item</a>
            {% endif %}
        </td>
    </tr>
</table>
<br>
<div>
    <p>Item Hierarchy Context (use arrow to expand)</p>
    <ul class="tree">
        {% include "oh_staff_ui/item_tree.html" %}
    </ul>
</div>
<hr>
<form name="edit_item" onsubmit="return validateEditItemForm()" id="edit_item" method="POST">
    {% csrf_token %}
    <div class="basic_metadata">
        {% bootstrap_field item_form.parent layout="horizontal" %}
        {% bootstrap_field item_form.title layout="horizontal" placeholder="" %}
        {% bootstrap_field item_form.type layout="horizontal" %}
        {% bootstrap_field item_form.sequence layout="horizontal" placeholder="" %}
        {% bootstrap_field item_form.coverage layout="horizontal" placeholder="" %}
        {% bootstrap_field item_form.relation layout="horizontal" placeholder="" %}
        {% bootstrap_field item_form.status layout="horizontal" %}
    </div>
    <br>
    {{ name_formset.management_form }}
    {{ subject_formset.management_form }}
    {{ publisher_formset.management_form }}
    {{ copyright_formset.management_form }}
    {{ resource_formset.management_form }}
    {{ language_formset.management_form }}
    {{ alt_title_formset.management_form }}
    {{ alt_id_formset.management_form }}
    {{ description_formset.management_form }}
    {{ date_formset.management_form }}
    {{ format_formset.management_form }}

    <table id="formset_table" 
        {% if item.type.type == "Audio" or item.type.type == "Video" %} class="file_metadata">
        {% else %} >
        {% endif %}
        {% for name_form in name_formset %}
        <tr>
            <td class="label">{% if forloop.first %}
                {% bootstrap_button id="name_add" button_type="button" button_class="btn-primary add_formset" content="+" %}&nbsp;Name(s):
                {% endif %}
            </td>
            <td class="qualifier">{% bootstrap_field name_form.usage_id %} {% bootstrap_field name_form.type show_label=False %}</td>
            <td>{% bootstrap_field name_form.value show_label=False %}</td>
            <td>{% bootstrap_field name_form.DELETE %}</td>
        </tr>
        {% endfor %}
        <tr id="name_empty_form" class="empty_form">
            <td></td>
            <td class="qualifier">{% bootstrap_field name_formset.empty_form.usage_id %} 
                {% bootstrap_field name_formset.empty_form.type show_label=False %}</td>
            <td>{% bootstrap_field name_formset.empty_form.value show_label=False %}</td>
            <td>{% bootstrap_field name_formset.empty_form.DELETE %}</td>
        </tr>
        {% for subject_form in subject_formset %}
        <tr>
            <td class="label">{% if forloop.first %}
                {% bootstrap_button id="subject_add" button_type="button" button_class="btn-primary add_formset" content="+" %}&nbsp;Subject(s):
                {% endif %}
            </td>
            <td class="qualifier">{% bootstrap_field subject_form.usage_id %} {% bootstrap_field subject_form.type show_label=False %}</td>
            <td>{% bootstrap_field subject_form.value show_label=False %}</td>
            <td>{% bootstrap_field subject_form.DELETE %}</td>
        </tr>
        {% endfor %}
        <tr id="subject_empty_form" class="empty_form">
            <td></td>
            <td class="qualifier">{% bootstrap_field subject_formset.empty_form.usage_id %} 
                {% bootstrap_field subject_formset.empty_form.type show_label=False %}</td>
            <td>{% bootstrap_field subject_formset.empty_form.value show_label=False %}</td>
            <td>{% bootstrap_field subject_formset.empty_form.DELETE %}</td>
        </tr>
        {% for publisher_form in publisher_formset %}
        <tr>
            <td class="label">{% if forloop.first %}
                {% bootstrap_button id="publisher_add" button_type="button" button_class="btn-primary add_formset" content="+" %}&nbsp;Publisher(s):
                {% endif %}
            </td>
            <td class="qualifier">{% bootstrap_field publisher_form.usage_id %} {% bootstrap_field publisher_form.type show_label=False %}</td>
            <td>{% bootstrap_field publisher_form.value show_label=False %}</td>
            <td>{% bootstrap_field publisher_form.DELETE %}</td>
        </tr>
        {% endfor %}
        <tr id="publisher_empty_form" class="empty_form">
            <td></td>
            <td class="qualifier">{% bootstrap_field publisher_formset.empty_form.usage_id %} 
                {% bootstrap_field publisher_formset.empty_form.type show_label=False %}</td>
            <td>{% bootstrap_field publisher_formset.empty_form.value show_label=False %}</td>
            <td>{% bootstrap_field publisher_formset.empty_form.DELETE %}</td>
        </tr>
        {% for copyright_form in copyright_formset %}
        <tr>
            <td class="label">{% if forloop.first %}
                {% bootstrap_button id="copyright_add" button_type="button" button_class="btn-primary add_formset" content="+" %}&nbsp;Copyright(s):
                {% endif %}
            </td>
            <td class="qualifier">{% bootstrap_field copyright_form.usage_id %} {% bootstrap_field copyright_form.type show_label=False %}</td>
            <td>{% bootstrap_field copyright_form.value show_label=False %}</td>
            <td>{% bootstrap_field copyright_form.DELETE %}</td>
        </tr>
        {% endfor %}
        <tr id="copyright_empty_form" class="empty_form">
            <td></td>
            <td class="qualifier">{% bootstrap_field copyright_formset.empty_form.usage_id %} 
                {% bootstrap_field copyright_formset.empty_form.type show_label=False %}</td>
            <td>{% bootstrap_field copyright_formset.empty_form.value show_label=False %}</td>
            <td>{% bootstrap_field copyright_formset.empty_form.DELETE %}</td>
        </tr>
        {% for resource_form in resource_formset %}
        <tr>
            <td class="label">{% if forloop.first %}
                {% bootstrap_button id="resource_add" button_type="button" button_class="btn-primary add_formset" content="+" %}&nbsp;Type(s) of Resource:
                {% endif %}
            </td>
            <td class="qualifier">{% bootstrap_field resource_form.usage_id %} {% bootstrap_field resource_form.type show_label=False %}</td>
            <td>{% bootstrap_field resource_form.value show_label=False %}</td>
            <td>{% bootstrap_field resource_form.DELETE %}</td>
        </tr>
        {% endfor %}
        <tr id="resource_empty_form" class="empty_form">
            <td></td>
            <td class="qualifier">{% bootstrap_field resource_formset.empty_form.usage_id %} 
                {% bootstrap_field resource_formset.empty_form.type show_label=False %}</td>
            <td>{% bootstrap_field resource_formset.empty_form.value show_label=False %}</td>
            <td>{% bootstrap_field resource_formset.empty_form.DELETE %}</td>
        </tr>
        {% for alt_title_form in alt_title_formset %}
        <tr>
            <td class="label">{% if forloop.first %}
                {% bootstrap_button id="alt_title_add" button_type="button" button_class="btn-primary add_formset" content="+" %}&nbsp;Alt Title(s):
                {% endif %}
            </td>
            <td class="qualifier">{% bootstrap_field alt_title_form.usage_id %} {% bootstrap_field alt_title_form.type show_label=False %}</td>
            <td>{% bootstrap_field alt_title_form.value show_label=False placeholder="" %}</td>
            <td>{% bootstrap_field alt_title_form.DELETE %}</td>
        </tr>
        {% endfor %}
        <tr id="alt_title_empty_form" class="empty_form">
            <td></td>
            <td class="qualifier">{% bootstrap_field alt_title_formset.empty_form.usage_id %} 
                {% bootstrap_field alt_title_formset.empty_form.type show_label=False %}</td>
            <td>{% bootstrap_field alt_title_formset.empty_form.value show_label=False placeholder="" %}</td>
            <td>{% bootstrap_field alt_title_formset.empty_form.DELETE %}</td>
        </tr>
        {% for alt_id_form in alt_id_formset %}
        <tr>
            <td class="label">{% if forloop.first %}
                {% bootstrap_button id="alt_id_add" button_type="button" button_class="btn-primary add_formset" content="+" %}&nbsp;Alt ID(s):
                {% endif %}
            </td>
            <td class="qualifier">{% bootstrap_field alt_id_form.usage_id %} {% bootstrap_field alt_id_form.type show_label=False %}</td>
            <td>{% bootstrap_field alt_id_form.value show_label=False placeholder="" %}</td>
            <td>{% bootstrap_field alt_id_form.DELETE %}</td>
        </tr>
        {% endfor %}
        <tr id="alt_id_empty_form" class="empty_form">
            <td></td>
            <td class="qualifier">{% bootstrap_field alt_id_formset.empty_form.usage_id %} 
                {% bootstrap_field alt_id_formset.empty_form.type show_label=False %}</td>
            <td>{% bootstrap_field alt_id_formset.empty_form.value show_label=False placeholder="" %}</td>
            <td>{% bootstrap_field alt_id_formset.empty_form.DELETE %}</td>
        </tr>
        {% for description_form in description_formset %}
        <tr class = "description text-nowrap">
            <td class="label">{% if forloop.first %}
                {% bootstrap_button id="description_add" button_type="button" button_class="btn-primary add_formset" content="+" %}&nbsp;Description(s):
                {% endif %}
            </td>
            <td class="qualifier">{% bootstrap_field description_form.usage_id %} {% bootstrap_field description_form.type show_label=False %}</td>
            <td>{% bootstrap_field description_form.value show_label=False placeholder="" %}</td>
            <td>{% bootstrap_field description_form.DELETE %}</td>
        </tr>
        {% endfor %}
        <tr id="description_empty_form" class="empty_form">
            <td></td>
            <td class="qualifier">{% bootstrap_field description_formset.empty_form.usage_id %} 
                {% bootstrap_field description_formset.empty_form.type show_label=False %}</td>
            <td>{% bootstrap_field description_formset.empty_form.value show_label=False placeholder="" %}</td>
            <td>{% bootstrap_field description_formset.empty_form.DELETE %}</td>
        </tr>
        {% for date_form in date_formset %}
        <tr>
            <td class="label">{% if forloop.first %}
                {% bootstrap_button id="date_add" button_type="button" button_class="btn-primary add_formset" content="+" %}&nbsp;Date(s):
                {% endif %}
            </td>
            <td class="qualifier">{% bootstrap_field date_form.usage_id %} {% bootstrap_field date_form.type show_label=False %}</td>
            <td>{% bootstrap_field date_form.value show_label=False placeholder="" %}</td>
            <td>{% bootstrap_field date_form.DELETE %}</td>
        </tr>
        {% endfor %}
        <tr id="date_empty_form" class="empty_form">
            <td></td>
            <td class="qualifier">{% bootstrap_field date_formset.empty_form.usage_id %} 
                {% bootstrap_field date_formset.empty_form.type show_label=False %}</td>
            <td>{% bootstrap_field date_formset.empty_form.value show_label=False placeholder="" %}</td>
            <td>{% bootstrap_field date_formset.empty_form.DELETE %}</td>
        </tr>
        {% for format_form in format_formset %}
        <tr>
            <td class="label">{% if forloop.first %}
                {% bootstrap_button id="format_add" button_type="button" button_class="btn-primary add_formset" content="+" %}&nbsp;Format(s):
                {% endif %}
            </td>
            <td>{% bootstrap_field format_form.usage_id %}</td>
            <td>{% bootstrap_field format_form.value show_label=False placeholder="" %}</td>
            <td>{% bootstrap_field format_form.DELETE %}</td>
        </tr>
        {% endfor %}
        <tr id="format_empty_form" class="empty_form">
            <td></td>
            <td>{% bootstrap_field format_formset.empty_form.usage_id %}</td>
            <td>{% bootstrap_field format_formset.empty_form.value show_label=False placeholder="" %}</td>
            <td>{% bootstrap_field format_formset.empty_form.DELETE %}</td>
        </tr>
        {% for language_form in language_formset %}
        <tr>
            <td class="label">{% if forloop.first %}
                {% bootstrap_button id="language_add" button_type="button" button_class="btn-primary add_formset" content="+" %}&nbsp;Language(s):
                {% endif %}
            </td>
            <td>{% bootstrap_field language_form.usage_id %}</td>
            <td>{% bootstrap_field language_form.value show_label=False %}</td>
            <td>{% bootstrap_field language_form.DELETE %}</td>
        </tr>
        {% endfor %}
        <tr id="language_empty_form" class="empty_form">
            <td></td>
            <td>{% bootstrap_field language_formset.empty_form.usage_id %}</td>
            <td>{% bootstrap_field language_formset.empty_form.value show_label=False %}</td>
            <td>{% bootstrap_field language_formset.empty_form.DELETE %}</td>
        </tr>
    </table>
    <br>
    {% bootstrap_button button_type="submit" content="Save" %}
</form>

<div class="confirm-delete-popup" id="confirm-delete-popup">
    <h3>Delete Item</h3>
    {% if children_blocking_delete or media_files_blocking_delete %}
    <p>This item has dependencies and cannot be deleted.</p>
    {% if children_blocking_delete %}
    <p>These child items must be deleted first:</p>
    <ul>
        {% for child in children_blocking_delete %}
        <li>{{ child.title }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if media_files_blocking_delete %}
    <p>These media files must be deleted first:</p>
    <ul>
        {% for media_file in media_files_blocking_delete %}
        <li>{{ media_file.file_name_only }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <a href="#" class="btn btn-primary" id="cancel-item" onclick="hideItemConfirmDeletePopup()">OK</a>
    {% else %}
    <p>Are you sure you want to delete this item: {{item.title}}?</p>
    <a href="#" class="btn btn-primary" id="cancel-item" onclick="hideItemConfirmDeletePopup()">Cancel</a>
    <a href="{% url 'delete_item' item.id %}" class="btn btn-secondary">Delete</a> 
    {% endif %}
  </div>

{% endblock %}

