{% extends 'oh_staff_ui/base.html' %}

{% block content %}
<ul>
    <li>id: {{ item.id }}</li>
    <li>ARK: {{ item.ark }}</li>
    <li>created: {{ item.create_date }} by {{ item.created_by }}</li>
    <li>updated: {{ item.last_modified_date }} by {{ item.last_modified_by }}</li>
    <li>Parent:
        {% if item.parent %}
        <a href="{% url 'edit_item' item.parent.id %}">{{ item.parent }}</a>
        {% else %}
        {{ item.parent }}
        {% endif %}
    </li>
</ul>
<form name="edit_item" id="edit_item" method="POST">
    {% csrf_token %}
    {{ item_form.as_div }}
    <br>
    {{ name_formset.management_form }}
    {{ subject_formset.management_form }}
    {{ publisher_formset.management_form }}
    {{ copyright_formset.management_form }}
    <table>
        {% for name_form in name_formset %}
        <tr>
            <td>{% if forloop.first %}Name(s):{% endif %}</td>
            <td>{{ name_form.usage_id }} {{ name_form.type }}</td>
            <td>{{ name_form.name }}</td>
            <td>Delete? {{ name_form.DELETE }}</td>
        </tr>
        {% endfor %}
        {% for subject_form in subject_formset %}
        <tr>
            <td>{% if forloop.first %}Subject(s):{% endif %}</td>
            <td>{{ subject_form.usage_id }} {{ subject_form.type }}</td>
            <td>{{ subject_form.subject }}</td>
            <td>Delete? {{ subject_form.DELETE }}</td>
        </tr>
        {% endfor %}
        {% for publisher_form in publisher_formset %}
        <tr>
            <td>{% if forloop.first %}Publisher(s):{% endif %}</td>
            <td>{{ publisher_form.usage_id }} {{ publisher_form.type }}</td>
            <td>{{ publisher_form.publisher }}</td>
            <td>Delete? {{ publisher_form.DELETE }}</td>
        </tr>
        {% endfor %}
        {% for copyright_form in copyright_formset %}
        <tr>
            <td>{% if forloop.first %}Copyright(s):{% endif %}</td>
            <td>{{ copyright_form.usage_id }} {{ copyright_form.type }}</td>
            <td>{{ copyright_form.copyright }}</td>
            <td>Delete? {{ copyright_form.DELETE }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <button type="submit">Save</button>
</form>
{% endblock %}

