{% extends 'oh_staff_ui/base.html' %}

{% block content %}
<h3>Release Notes</h3>
<hr/>

<h4>1.0.8</h4>
<p><i>March 15, 2024</i></p>
<ul>
    <li>Upgraded Django from version 4.1.3 to 4.2.11.</li>
    <li>Upgraded requests from version 2.28.2 to 2.31.0.</li>
    <li>Upgraded pillow from version 9.5.0 to 10.2.0.</li>
</ul>

<h4>1.0.7</h4>
<p><i>March 14, 2024</i></p>
<ul>
    <li>Added "timed log" attribute to OAI MODS records for TEI XML transcripts.</li>

<h4>1.0.6</h4>
<p><i>February 15, 2024</i></p>
<ul>
    <li>Fixed bug which allowed non-Completed relatedItem metadata to be included in MODS records via OAI.</li>
</ul>

<h4>1.0.5</h4>
<p><i>October 12, 2023</i></p>
<ul>
    <li>Fixed bug preventing "Completed with minimal metadata" records from being published via OAI.</li>
</ul>

<h4>1.0.4</h4>
<p><i>October 9, 2023</i></p>
<ul>
    <li>Fixed bug when both a title and alternate title exists, resulting in an incorrect MODS record.</li>
</ul>

<h4>1.0.3</h4>
<p><i>October 1, 2023</i></p>
<ul>
    <li>Fixed bug which set the wrong media file type on submaster audio files.</li>
</ul>

<h4>1.0.2</h4>
<p><i>August 8, 2023</i></p>
<ul>
    <li>Increased Description form field limit to 8000 characters, matching database limit.</li>
    <li>Changed local configuration to prevent fixtures from loading when connecting from Docker to production database.</li>
    <li>Added release notes.</li>
</ul>

<h4>1.0.1</h4>
<p><i>June 29, 2023</i></p>
<ul>
    <li>Deployed OAI changes to allow harvesting for public site.</li>
</ul>


<h4>1.0.0</h4>
<p><i>June 12, 2023</i></p>
<ul>
    <li>
        First production release.
    </li>
</ul>

{% endblock %}
