{% extends 'oh_staff_ui/base.html' %}

{% block content %}
<h3>Release Notes</h3>
<hr/>
<h4>1.1.10</h4>
<p><i>June 6, 2024</i></p>
<ul>
   <li>Fix alignment of item metadata form fields.</li>
</ul>

<h4>1.1.9</h4>
<p><i>June 5, 2024</i></p>
<ul>
   <li>Added code to capture more information if file creation unexpectedly fails.</li>
</ul>

<h4>1.1.8</h4>
<p><i>May 29, 2024</i></p>
<ul>
   <li>Added ability to delete item records.</li>
</ul>

<h4>1.1.7</h4>
<p><i>May 28, 2024</i></p>
<ul>
   <li>Fixed bug allowing staff with lower permissions to delete files if internal URLs were known.</li>
   <li>Fixed bug allowing download of master files by anonymous users if URLs were known.</li>
   <li>Updated gunicorn, pillow, and requests packages to patch security issues.</li>
   <li>Fixed issue where PDF/XML submaster files displayed before master files in "File Information" table.</li>
</ul>

<h4>1.1.6</h4>
<p><i>May 22, 2024</i></p>
<ul>
   <li>Added ability to delete files from item records.</li>
</ul>

<h4>1.1.5</h4>
<p><i>May 21, 2024</i></p>
<ul>
   <li>Limited <code>audit_media_files</code> scan to master and derivative directories.</li>
</ul>

<h4>1.1.4</h4>
<p><i>May 21, 2024</i></p>
<ul>
   <li>Added command to compare database and disk information about media files.</li>
</ul>

<h4>1.1.3</h4>
<p><i>May 14, 2024</i></p>
<ul>
   <li>Fixed bug where derivative images with non-default orientation were not handled correctly.</li>
</ul>

<h4>1.1.2</h4>
<p><i>May 8, 2024</i></p>
<ul>
   <li>Added command to reprocess all derivative images.</li>
</ul>

<h4>1.1.1</h4>
<p><i>May 8, 2024</i></p>
<ul>
   <li>Enabled access to master files, really this time.</li>
</ul>

<h4>1.1.0</h4>
<p><i>May 7, 2024</i></p>
<ul>
   <li>Enabled access to master files.</li>
</ul>

<h4>1.0.14</h4>
<p><i>May 1, 2024</i></p>
<ul>
   <li>Replaced Masters "shadow landing zone" with actual Masters volume.</li>
</ul>

<h4>1.0.13</h4>
<p><i>April 30, 2024</i></p>
<ul>
   <li>Made newly-generated thumbnail images always square, with black bars as needed.</li>
</ul>

<h4>1.0.12</h4>
<p><i>April 26, 2024</i></p>
<ul>
    <li>Display value associated with images changed from Narrator to Interviewee in OAI feed</li>
    <li>TEI documents are now presented as mods:location/mods:url[@="timed_log"] inside mods:relatedItem</li>
</ul>

<h4>1.0.11</h4>
<p><i>April 26, 2024</i></p>
<ul>
    <li>Series records excluded from OAI-PMH feed (series will still be included
        as a "related title" of interview records).</li>
</ul>

<h4>1.0.10</h4>
<p><i>April 5, 2024</i></p>
<ul>
    <li>Added “View on public site” link to the item detail page for published Series and Interviews.</li>
</ul>

<h4>1.0.9</h4>
<p><i>April 3, 2024</i></p>
<ul>
    <li>Added internal host to ALLOWED_HOSTS for improved OAI harvesting.</li>
</ul>

<h4>1.0.8</h4>
<p><i>March 15, 2024</i></p>
<ul>
    <li>Upgraded Django from version 4.1.3 to 4.2.11.</li>
    <li>Upgraded requests from version 2.28.2 to 2.31.0.</li>
    <li>Upgraded pillow from version 9.5.0 to 10.2.0.</li>
</ul>

<h4>1.0.7</h4>
<p><i>March 14, 2024</i></p>
<ul>
    <li>Added "timed log" attribute to OAI MODS records for TEI XML transcripts.</li>
</ul>

<h4>1.0.6</h4>
<p><i>February 15, 2024</i></p>
<ul>
    <li>Fixed bug which allowed non-Completed relatedItem metadata to be included in MODS records via OAI.</li>
</ul>

<h4>1.0.5</h4>
<p><i>October 12, 2023</i></p>
<ul>
    <li>Fixed bug preventing "Completed with minimal metadata" records from being published via OAI.</li>
</ul>

<h4>1.0.4</h4>
<p><i>October 9, 2023</i></p>
<ul>
    <li>Fixed bug when both a title and alternate title exists, resulting in an incorrect MODS record.</li>
</ul>

<h4>1.0.3</h4>
<p><i>October 1, 2023</i></p>
<ul>
    <li>Fixed bug which set the wrong media file type on submaster audio files.</li>
</ul>

<h4>1.0.2</h4>
<p><i>August 8, 2023</i></p>
<ul>
    <li>Increased Description form field limit to 8000 characters, matching database limit.</li>
    <li>Changed local configuration to prevent fixtures from loading when connecting from Docker to production database.</li>
    <li>Added release notes.</li>
</ul>

<h4>1.0.1</h4>
<p><i>June 29, 2023</i></p>
<ul>
    <li>Deployed OAI changes to allow harvesting for public site.</li>
</ul>


<h4>1.0.0</h4>
<p><i>June 12, 2023</i></p>
<ul>
    <li>
        First production release.
    </li>
</ul>

{% endblock %}