{% extends 'oh_staff_ui/base.html' %}

{% block content %}
<table class="header-metadata">
  <caption>Item Information</caption>
  <tr>
      <td>Title</td>
      <td>{{ item.title }}</td>
  </tr>
  <tr>
      <td>ARK</td>
      <td>{{ item.ark }}</td>
  </tr>
  <tr>
      <td>Parent</td>
      <td>{% if item.parent %}
          <a href="{% url 'edit_item' item.parent.id %}">{{ item.parent }}</a>
          {% else %}
          {{ item.parent }}
          {% endif %}</td>
  </tr>
  <tr>
      <td>Created</td>
      <td>{{ item.create_date }} by {{ item.created_by }}</td>
  </tr>
  <tr>
      <td>Updated</td>
      <td>{{ item.last_modified_date }} by {{ item.last_modified_by }}</td>
  </tr>
  <tr>
      <td>Item Actions</td>
      <td>
        <a href="{% url 'edit_item' item.id %}">View metadata</a>
      </td>
  </tr>
</table>
<br>
{% if files %}
<hr>
<table class="header-metadata">
  <caption>File Information</caption>
  <tr>
    <th>File Type</th>
    <th>Added by</th>
    <th>Original name</th>
    <th>New name & location</th>
    <th>Size</th>
    <th>Sequence</th>
  </tr>
  {% for file in files %}
  <tr>
    <td>{{ file.file_type }}</td>
    <td>{{ file.create_date }} by {{ file.created_by }}</td>
    <td>{{ file.original_file_name }}</td>
    <td>{{ file.file.name }}</td>
    <td>{{ file.file_size|floatformat:"g" }} bytes</td>
    <td>{{ file.sequence }}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}
<hr>
{% if messages %}
<br>
<div class="box">
{% for message in messages %}
  <div>{{ message }}</div>
{% endfor %}
</div>
{% endif %}

<form name="upload_file_form" method="POST" enctype="multipart/form-data" onsubmit="disable_upload_button(this);">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.file_type.label }}</td>
        <td>{{ form.file_name.label }}</td>
      </tr>
      <tr>
        <td>{{ form.file_type }}</td>
        <td>{{ form.file_name }}</td>
      </tr>
    </table>
    <button type="submit" id="upload_button">Upload</button>
</form>
{% endblock %}
