{% extends 'oh_staff_ui/base.html' %}

{% block content %}
<a href="{% url 'edit_item' item.id %}">View metadata</a>
<ul>
  <li>id: {{ item.id }}</li>
  <li>ARK: {{ item.ark }}</li>
  <li>created: {{ item.create_date }} by {{ item.created_by }}</li>
  <li>updated: {{ item.last_modified_date }} by {{ item.last_modified_by }}</li>
  <li>Parent:
      {% if item.parent %}
      <a href="{% url 'edit_item' item.parent.id %}">{{ item.parent }}</a>
      {% else %}
      {{ item.parent }}
      {% endif %}
  </li>
</ul>

<table class="search-results">
  {% for file in files %}
  <tr>
    <td>{{ file.file_type }}</td>
    <td>{{ file.file.name }}</td>
  </tr>
  {% endfor %}
</table>
<br>
<form name="upload_file_form" method="POST" enctype="multipart/form-data" onsubmit="disable_upload_button(this);">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.file_group }}</td>
        <td>{{ form.file_name }}</td>
      </tr>
    </table>
    <button type="submit" id="upload_button">Upload</button>
</form>
{% endblock %}
