ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d0d0d7;
    border: 1px solid black;
    justify-content: unset;
}
  
.navbar li {
    float: left;
    border-right: 1px solid #bcbcc5;
}
  
.navbar li a {
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}

td.search-type{
    min-width: 15rem
}

.search-results {
   width: 100%;
}

.search-results td {
    border: 1px solid;
}

.current-item {
    font-weight: bold;
}

td.label,
td.qualifier {
    vertical-align: baseline;
}

.empty_form {
    display: none;
}

.box {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
/* .file_metadata: optional metadata on edit_item page
for Audio and Video items. Hide all table rows other 
than Description. */ 
table.file_metadata tr:not([class*="description"]) {
    display: none;
}
/* for file-level metadata, hide all dropdown options
other than TableOfContents (value = "3") */ 
.file_metadata .description select option:not([value="3"]){
    display: none;
}

.header-metadata{
    border-collapse: collapse;
 }
 
.header-metadata td{
    padding: 4px;
    border: 1px solid;
}

ul.tree {
    margin-top: -10px;
}

caption {
    font-weight: bold;
    color: black;
}

.add_formset {
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.1rem;
}

/* Workarounds for "bootstrap_form success_css_class" not working  */
/* CSS class "is-valid" is incorrectly applied to bound forms. */
/* These four rules remove undesired checkmarks and green border styling. */
.form-control {
    background-image: none !important;
    border-color: var(--bs-border-color) !important;
}
/* background-image is caret, copied from regular bootstrap select */
.form-select.is-valid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e") !important;
    border-color: var(--bs-border-color) !important;
}

.form-select.is-valid:focus {
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) !important;
}

.form-control:focus {
    box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) !important;
}