.search-results {
   width: 100%;
}

.search-results td {
    border: 1px solid;
}

.current-item {
    font-weight: bold;
}

td {
    vertical-align: top;
}

.empty_form {
    display: none;
}

.box {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
