ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d0d0d7;
    border: 1px solid black;
}
  
.navbar li {
    float: left;
    border-right: 1px solid #bcbcc5;
}
  
.navbar li a {
    display: block;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    color: #0000ee;
}



.search-results {
   width: 100%;
}

.search-results td {
    border: 1px solid;
}

.current-item {
    font-weight: bold;
}

td {
    vertical-align: top;
}

.empty_form {
    display: none;
}

.box {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

 form[name="edit_item"] div {
     display: table-row;
 }
 
 form[name="edit_item"] label {
     display: table-cell;
 }

 form[name="edit_item"] select,
 form[name="edit_item"] input,
 form[name="edit_item"] textarea {
    margin-left: 10px;
    margin-right: 5px;
 }

 form[name="edit_item"] .basic_metadata select,
 form[name="edit_item"] .basic_metadata input,
 form[name="edit_item"] .basic_metadata textarea {
    margin-bottom: 3px;
 }

/* .file_metadata: optional metadata on edit_item page
for Audio and Video items. Hide all table rows other 
than Description. */ 
.file_metadata tr:not([class="description"]) {
    display: none;
}
/* for file-level metadata, hide all dropdown options
other than TableOfContents (value = "3") */ 
.file_metadata .description select option:not([value="3"]){
    display: none;
}

.header-metadata{
    border-collapse: collapse;
 }
.header-metadata td{
    padding: 4px;
    border: 1px solid;
}

ul.tree {
    margin-top: -10px;
}

caption {
    font-weight: bold;
}

form select,
form input,
form textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13.333px;
}